
#main_heading{
    background-color: cadetblue;
}
body{
    background-color: burlywood;
}
.main_pictures{
  
   
    background-color: rgb(230, 208, 15);
}
#movies{
    background-color: lightcoral;
}
#tiger{
    background-color: lightseagreen;
}
#information2{
    background-color: magenta;
}
